:root {
    --primary-color: forestgreen;
    --secondary-color: white;
    --accent1-color: darkslategray;
    --accent2-color: goldenrod;
    --heading-font: 'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    font-size: 4rem;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: .8;
    background-color: var(--accent1-color);
    color:  var(--secondary-color);
}


/* Class Selectors */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin: 16px;
}

.moon {
    float: right;
    width: 200px;
}

.moon img {
    width: 100%;
    height: auto;
}

.adventure {
    clear: both;
}