:root {
    --primary-color: forestgreen;
    --secondary-color: white;
    --accent1-color: darkslategray;
    --accent2-color: goldenrod;
    --heading-font: 'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

h1 {
    font-size: 4rem;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header nav {
    grid-column: 2/4;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header nav a {
    display: block;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

header nav a:hover {
    scale: .9;
    box-shadow: 0 0 2rem black;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
}


/* Class Selectors */

.abouth1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    opacity: .8;
    background-color: var(--accent1-color);
    color:  var(--secondary-color);
}

.contact {
    text-align: center;
    font-size: 1.5rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.socialmedia {
    float: right;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 50px;
}

.socialmedia a img:hover {
    scale: .85;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin: 16px;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.moon {
    grid-column: 2/3;
    width: 200px;
}

.moon img {
    width: 100%;
    height: auto;
}

.adventure, footer{
    clear: both;
}

.figures figure:hover {
    scale: 2;
    background-color: var(--accent2-color);
    padding: 10px;
} 

.figures {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.figures figure figcaption {
    width: 150px;
}

.figures figure img {
    width: 150px;
    height: auto;
}