:root {
    --primary-color: #FDFFFC; /*Baby Powder*/
    --secondary-color: #010000; /*black*/
    --accent1-color: #2EC4B6; /*Light Sea Green*/
    --accent2-color: #00AC00; /*Kelly Green*/
    --heading-font: "Kapakana", sans-serif; 
    --body-font: "Ancizar Sans", sans-serif;
    --border: 1px solid #010000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selectors */

header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: space-evenly;
    align-items: center;
}

header > img {
    border: var(--border);
    border-radius: 50%;
    margin: 10px;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h1 {
    position: absolute;
    top: 200px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
    grid-area: title;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

article {
    position: absolute;
    top: 300px;
    width: 95%;
    opacity: 0.7;
    background-color: var(--accent1-color);
    font-weight: bolder;
}

form {
    display: grid;
    background-color: var(--accent1-color);
    padding: 1rem;
    border-radius: 1rem;
    font-size: larger;
}

input {
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: larger;
}

textarea {
    padding: 0.5rem;
    font-size: larger;
}

footer {
    display: flex;
}

/* Class Selectors */

.socialmedia {
    float: right;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    max-width: 50px;
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.navigation {
    display: flex;
}

.navigation a {
    flex: auto;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: var(--border);
    text-align: center;
    border-radius: 4px;

}

.navigation a:hover{
    background-color: var(--accent2-color);
}

.history {
    display: grid;
    grid-template: "title title title";
}

.adventure {
    display: grid;
    grid-template: "title title title title title";
    column-gap: 2%;
    max-width: 100%;
    justify-content: space-evenly;
}

.adventure img {
    /* width: auto; */
    max-height: 90px; 
}

.adventure h2 {
    grid-area: title;
}

.contact {
    text-align: center;
}

.employees {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.employees img {
    display: block;
    height: 100%;
}

.submit {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: larger;
    padding: 1rem;
    border-radius: 1rem;
    width: 20rem;
    margin: auto;
    max-width: 50%;
}

.submit:hover {
    background-color: var(--accent2-color);
    cursor: pointer;
}

