:root {
    --border: 1px solid black;
    --dark-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
    padding: 10px;
}

nav {
    background-color: var(--dark-color);
    padding: 10px;
}

h1 {
    color: var(--dark-color);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    position: relative;

}

footer {
    margin-top: 1rem;
    border-top: var(--border);
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

aside img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 100px;
}

li {
    margin-left: 1rem;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: lightgray;
    color: var(--dark-color);
}