:root {
    --dark-background-color: darkblue;
    --dark-text-color: darkblue;
    --light-text-color: white;
    --border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selectors */

nav {
    background-color: var(--dark-background-color);
    padding: 10px;
}

nav a {
    color: var(--light-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--dark-text-color);
}

main img {
    float:right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: var(--border);
    text-align: center;
}

li > a {
    color: inherit;
}

/* Class Selectors */

.box {
    clear:both;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
}

.border {
    border: 1px solid red;
}


/* ID Selectors */